<% provide(:title, 'Vertriebspartner') %>
<h2>Vertriebspartner</h2>

<div class="row">
  <div class="col-md-6">
    <div>
      <h3>Vertriebsbereich 1</h3>
      <address>
        <strong>Kliemann Service GmbH</strong></br>
        Rudolf-Diesel-Straße 22</br>
        71394 Kernen</br>
        <%= link_to "AGB", asset_path( "AGB-KLS.pdf") %>&nbsp;<%= link_to "Freistellungsbescheinigung", asset_path( "Freistellungsbescheinigung-KLS.pdf") %></br>
        <b><%= link_to "Kliemann-Service Störungsformular", asset_path( "KLS-Buildings-Service-Formular.pdf") %></b></br>
      </address>
    </div>

    <div>
      <h3>Vertriebsbereich 2</h3>
      <address>
        <strong>SteMaCon</strong></br>
        Kölnerstrasse 4</br>
        51429 Bergisch Gladbach</br>
        <%= link_to "AGB", "#" %>&nbsp;
        <%= link_to "Freistellungsbescheinigung", "#" %>
      </address>
    </div>

    <div>
      <h3>Vertriebsbereich 3-4</h3>
      <address>
        <strong>Jens Förster</strong></br>
        Elektroinstallationen</br>
        Friedrich-Zürner-Straße 13</br>
        01558 Großenhain</br>
        <%= link_to "AGB", "#" %>&nbsp;
        <%= link_to "Freistellungsbescheinigung", "#" %>
      </address>
    </div>

    <div>
      <h3>Vertriebsbereich 5</h3>
      <address>
        <strong>Elektroservice Nestler</strong></br>
        Pappelallee 5</br>
        17235 Neustrelitz</br>
        <%= link_to "AGB", "#" %>&nbsp;
        <%= link_to "Freistellungsbescheinigung", "#" %>
      </address>
    </div>

    <div>
      <h3>Schweiz</h3>
      <address>
        <strong>ECO ANALYTICS AG</strong></br>
        Weidenweg 17</br>
        CH-4310 Rheinfelden</br>
      </address>

      <div class="col-md-4">
        Tel +41 61 827 94 00</br>
        <%= link_to "info@ecoanalytics.ch", "mailto:info@ecoanalytics.ch" %></br>
      </div>

      <div class="col-md-4">
        Fax +41 61 827 94 04</br>
        <%= link_to "www.ecoanalytics.ch", "www.ecoanalytics.ch" %></br>
      </div>
    </div>

  </div>

  <div class="col-md-6">
    <%= image_tag 'karte_de.gif' %>
  </div>
</div>
