<% provide(:title, 'Vertriebspartner') %>
<h2>Vertriebspartner</h2>

<div class="row">
    <div class="col-md-6">
        <p>
            <b>Vertriebsbereich 1</b>
            Kliemann Service GmbH</br>
            Rudolf-Diesel-Straße 22</br>
            71394 Kernen</br>
            <%= link_to "AGB", asset_path( "AGB-KLS.pdf") %> <%= link_to "Freistellungsbescheinigung", asset_path( "Freistellungsbescheinigung-KLS.pdf") %></br>
            <b><%= link_to "Kliemann-Service Störungsformular", asset_path( "KLS-Buildings-Service-Formular.pdf") %></b></br>
        </p>

        <p>
            <b>Vertriebsbereich 2</b></br>
            <b>SteMaCon</b></br>
            Kölnerstrasse 4</br>
            51429 Bergisch Gladbach</br>
            AGB   Freistellungsbescheinigung</br>
        </p>

        <p>
            <b>Vertriebsbereich 3-4</b></br>
            Jens Förster</br>
            Elektroinstallationen</br>
            Friedrich-Zürner-Straße 13</br>
            01558 Großenhain</br>
            AGB   Freistellungsbescheinigung</br>
        </p>

        <p>
            <b>Vertriebsbereich 5</b></br>
            Elektroservice Nestler</br>
            Pappelallee 5</br>
            17235 Neustrelitz</br>
            AGB   Freistellungsbescheinigung</br>
        </p>

        <p>
            <b>Schweiz</b></br>
            ECO ANALYTICS AG</br>
            Weidenweg 17</br>
            CH-4310 Rheinfelden</br>
        </p>

        <div class="row">
            <div class="col-md-4">
            Tel +41 61 827 94 00</br>
            <%= link_to "info@ecoanalytics.ch", "mailto:info@ecoanalytics.ch" %></br>
            </div>

            <div class="col-md-4">
            </div>

            <div class="col-md-4">
            Fax +41 61 827 94 04</br>
            <%= link_to "www.ecoanalytics.ch", "www.ecoanalytics.ch" %></br>
            </div>
        </div>

        </p>
    </div>

    <div class="col-md-6">
        <%= image_tag 'karte_de.gif' %>
    </div>
</div>
