<% provide(:title, 'Produkte importieren') %>

<div class="row">
  <div class="col-md-9">
    <div class="bs-docs-section">
      <h1 id="overview" class="page-header">Übersicht</h1>

      <p class="lead">Im folgenden wird beschrieben wie die Produkte
      in der Webseite gespeichert werden
      und woher die Daten importiert werden können.</p>

      <p>In dieser Ansicht können div. Dateien (hauptsächlich Excel Dateien) in die
      Datenbank der Webseite importiert werden.</p>
    </div>

    <div class="bs-callout bs-callout-warning">
      <h4>Import Link ganz unten</h4>
      <p>Den Button für den <%= link_to 'Import', '#import' %> der Tabellen finden Sie ganz unten.</p>
    </div>


    <div class="bs-docs-section">
      <h1 id="forms" class="page-header">Datenmodel</h1>

      <h2 id="forms-example">Aufbau der Produkt-Tabelle dieser Webseite</h2>

      <table class="table table-hover">
        <tr>
          <th>Beschreibung</th>
          <th>unsere (intern) Bezeichnung<br/>Nach diesen Daten wird vom Programm gesucht</th>
          <th>Name im Model der Webseite</th>
          <th>Quelle (wo kommen die Daten her?)</th>
        </tr>
        <tr class="success">
          <td>Die Artikel Nummer ist der Primärschlüssel. Anhand dieser Nummer
          werden die Datensätze gesucht. Ist ein Produkt mit dieser
          </td>
          <td>Artikelnummer</td>
          <td>product_nr</td>
          <td>EasyWinArt</td>
        </tr>
        <tr>
          <td>Kurzbezeichnung</td>
          <td>Kurzbezeichnung</td>
          <td class="success">short_description</td>
          <td>EasyWinArt</td>
        </tr>
        <tr>
          <td>Beschreibung</td>
          <td>Langbezeichnung</td>
          <td class="success">description</td>
          <td>EasyWinArt</td>
        </tr>
        <tr>
          <td>Kurztext bitte nicht mit der Kurzbezeichnung verwechseln. Evtl.
          kann aber die Spalte aus der EasyWinArt Datenbank verwendet werden.
          </td>
          <td>Kurztext 1</td>
          <td class="success">short_text1</td>
          <td>Tabelle von Fr. Mack</td>
        </tr>
        <tr>
          <td>Kurztext bitte nicht mit der Kurzbezeichnung verwechseln. Evtl.
          kann aber die Spalte aus der EasyWinArt Datenbank verwendet werden.
          </td>
          <td>Kurztext 2</td>
          <td class="success">short_text2</td>
          <td>Tabelle von Fr. Mack</td>
        </tr>
        <tr>
          <td>Technische Daten</td>
          <td>Technische Daten</td>
          <td class="success">technical_data</td>
          <td>Tabelle von Fr. Mack</td>
        </tr>
        <tr>
          <td>Sehr kleines Bild für die Übersichtsseiten</td>
          <td>Artikel Logo</td>
          <td class="success">logo</td>
          <td>werden manuell hoch geladen</td>
        </tr>
        <tr>
          <td>viele Verschiedene Bilder zum Artikel</td>
          <td>Artikel Bilder</td>
          <td>AttachedAssets</td>
          <td>werden manuell hoch geladen</td>
        </tr>
      </table>
    </div>

    <div class="bs-callout bs-callout-warning">
      <h4>Übersetzung der Spalten Namen</h4>
      <p>Eigentlich schaut das Programm nur nach den Grün markierten, englischen Spalten Namen.
      Da das aber in der EasyWinArt Datenbank und in den Listen von Fr. Mack anders benannt ist
      wird vor dem Import eine <b>Übersetzung</b> vorgenommen!</p>
      <p>Das heißt, gibt es keine Spalte <b>product_nr</b> aber eine Spalte <b>Artikelnummer</b>
      dann übersetzt das Programm die Spalte Artikelnummer intern nach product_nr.</p>
    </div>

    <div class="bs-callout bs-callout-danger">
      <h4>Deutsch/ English mischen!</h4>
      <p>Natürlich dürfen nicht beide Spalten Namen in einer Tabelle auftauchen.
      Ist zum Beispiel <b>Artikelnummer</b> und <b>product_nr</b> in einer Tabelle,
      in der ersten Zeile, vorhanden dann ist das ein Fehler. Ein erfolgreicher Import ist so sicher nicht möglich!</p>
    </div>

    <div class="bs-docs-section">
      <h1 id="forms" class="page-header">Import</h1>

      <%= form_for @product_import, html: {class: "form-inline", role: "form"} do |f| %>
        <div class="form-group">
        <% if @product_import.errors.any? %>
          <div id="error_explanation">
          <h2><%= pluralize(@product_import.errors.count, "error") %> folgende Zeilen verhinder das Speichern:</h2>
          <ul>
            <% @product_import.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      </div>

      <div class="form-group">
        <div class="field">
          <%= f.file_field :file %>
        </div>
      </div>

      <div class="form-group">
        <a name="import"></a>
        <div class="buttons"><%= f.submit "Import", class: "btn btn-large btn-primary"%></div>
      </div>
    <% end %>
    </div>
  </div>
</div>
