<% provide(:title, 'Produkte importieren') %>
<h1>Produkte importieren</h1>

<p>Die WinEasyArt Excel Datei kann benutzt werden um die Produkte zu aktualisieren.</p>

<p>Beim Import wird nach der <strong>Artikelnummer</strong> gesucht, ist diese vorhanden, wird der entsprechende Datensatz in der Datenbank aktualisiert, ansonnsten wird eine neuer Eintrag in der Datenbank erstellt.</p>

<%= form_for @product_import do |f| %>
  <% if @product_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_import.errors.count, "error") %> folgende Zeilen verhinder das Speichern:</h2>
      <ul>
      <% @product_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>
