<% provide(:title, 'Produkte importieren') %>
<h1>Produkte importieren</h1>

<p>Die WinEasyArt Excel Datei kann benutzt werden um die Produkte zu aktualisieren.</p>

<p>Es müssen nicht immer alle Produkte in einer einzigen Tabelle stehen, 
es ist durchaus möglich einzelne Produkte in unterschiedlichen Tabellen zu 
pflegen und diese Tabellen dann nach einander hoch zu laden.</p>

<p>Es dürfen in einer Tabelle niemals 2 unterschiedliche Zeilen mit ein und
der selben <b>Artikelnummer</b> stehen!

<p>Beim Import wird nach der <strong>Artikelnummer</strong> gesucht, 
ist diese vorhanden, wird der entsprechende Datensatz in der Datenbank 
aktualisiert, ansonnsten wird eine neuer Eintrag in der Datenbank erstellt.</p>

<%= form_for @product_import do |f| %>
  <% if @product_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_import.errors.count, "error") %> folgende Zeilen verhinder das Speichern:</h2>
      <ul>
      <% @product_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import", class: "btn btn-large btn-primary"%></div>
<% end %>
