<% provide(:title, "Profil bearbeiten") %>
<h1>Profil bearbeiten</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Änderungen speichern", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <%= link_to "Benutzerbild ändern", 'http://gravatar.com/emails', target: '_blank' %>
  </div>
</div>
