<%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
  <%= f.label :news_date %>
  <%= f.text_field :news_date, id: "datepicker", class: "form-control" %>
    </div>
  </div>

  <div class="col-md-1">
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="form-group">
      <%= f.label :news_body %>
      <%= f.text_area :news_body, rows: 5, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="form-group">
      <%= f.label :news_image %>
      <%= f.file_field :news_image %>
    </div>
  </div>
</div>
