<% provide(:title, 'Produkt Gruppen') %>
<h1>Produkt Gruppen</h1>

<ul>
  <% for product_group in  @product_groups do %>
    <li>
      <div><%= link_to( product_group.name, product_group_path(product_group) ) %></div>
      <div><%= image_tag product_group.logo.url, :width => '100px' %></div>
      <div><%= simple_format product_group.description %></div>
      <% if current_user && current_user.admin? %>
      <div>
        <%= link_to 'bearbeiten', edit_product_group_path(product_group) %> | 
        <%= link_to 'löschen', product_group, method: :delete, data: { confirm: "Bist du sicher?" } %>
      </div>
      <% end %>
    </li>
    <%end %>
</ul>

<div class="row center">
  <% if current_user && current_user.admin? %>
    <%= link_to 'Neue Produkt Gruppe erstellen', new_product_group_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
