<% provide(:title, 'Betriebsanleitungen') %>
<h1>Betriebsanleitungen</h1>


<div class="row text-right">
  <% if current_user && current_user.admin? %>
    <%= link_to 'Neue Betriebsanleitung', new_bda_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>



<div class="row">
  <div class="col-md-12">

    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Bezeichnung</th>
            <th>Produkt Nummern</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @bdas.each do |bda| %>
            <tr>
              <td><%= link_to bda.name, bda %></td>
              <td><%= bda.description %></td>
              <td><%= bda.product_nr_prefix %></td>
              <td>
                <%= link_to icon('eye') +    ' Anzeigen', bda_path(bda) %><br />
                <%= link_to icon('edit') +    ' Bearbeiten', edit_bda_path(bda) %><br />
                <%= link_to icon('trash-o') + ' Löschen', bda, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>



<div class="row text-right">
  <% if current_user && current_user.admin? %>
    <%= link_to 'Neue Betriebsanleitung', new_bda_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>






