<div class="row"><div class="breadcrumb" data-no-turbolink>
  <%= link_to "https://gaswarnanlagen.com", root_path %>&nbsp;>&nbsp;
  <%= link_to "BDA's", bdas_path %>&nbsp;>&nbsp;
  <%= @bda.name %>
</div>

<% provide(:title, 'Neue Betriebsanleitung') %>
<h1>Neue Betriebsanleitung</h1>


  <div class="col-md-9">
    <%= form_for(@bda, html: {class: "form-horizontal", role: "form"}) do |f| %>
      <%= render 'fields', f: f %>
      <div><%= f.submit "BDA erstellen", class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>



<div class="row" style="padding-top: 5em">
  <div class="col-md-9">
    <%= link_to icon('far', 'backward') + ' zurück', bdas_path, class: "btn btn-large btn-default" %>
  </div>
</div>
