<% provide(:title, @bda.name) %>

<div class="breadcrumb" data-no-turbolink>
  <%= link_to "http://gaswarnanlagen.com", root_path %> > <%= @bda.name %>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="row">
      <% if current_user && current_user.admin? %>
        <p class="text-right">
        <%= render "button_bda_edit" %>
        </p>
      <% end %>
    </div>


    <div class="bs-docs-section">
      <h1 id="overview" class="page-header"><%= @bda.name %></h1>

      <p class="lead"><%= @bda.description %></p>
    </div>


    <div class="bs-docs-section">
      <p>
        <strong>Produkt Nummern:</strong>
        <%= @bda.product_nr_prefix %>
      </p>
    </div>


    <% if @bda.attached_assets.size > 0 %>
    <div class="bs-docs-section">
      <h1 id="forms" class="page-header">Dateien</h1>

      <ul>
      <% @bda.attached_assets.each do |asset| %>
        <li><%= link_to asset.asset_file_name, asset.asset.url %></li>
      <% end %>
      </ul>
    </div>
    <% end %>



    <div class="bs-docs-section">
      <% unless @bda.products.nil? %>
        <h3>Produkte für diese Anleitung</h3>
        <ul>
          <% @bda.products.each do |product| %>
            <li><%= link_to product.short_description, product %></li>
          <% end %>
        </ul>
      <% end %>

    </div>


    <%= link_to icon('backward') + ' zurück', bdas_path, class: "btn btn-large btn-default" %>


    <div class="row">
      <% if current_user && current_user.admin? %>
        <p class="text-right">
        <%= render "button_bda_edit" %>
        </p>
      <% end %>
    </div>

  </div>
</div>



