<div class="breadcrumb" data-no-turbolink>
  <%= link_to "http://gaswarnanlagen.com", root_path %>&nbsp;>&nbsp;
  <%= link_to "BDA's", bdas_path %>&nbsp;>&nbsp;
  <%= @bda.name %>
</div>

<% provide(:title, @bda.name) %>

<div class="row">
  <div class="col-md-12">

    <div class="row">
      <% if current_user && current_user.admin? %>
        <p class="text-right">
        <%= render "button_bda_edit" %>
        </p>
      <% end %>
    </div>


    <div class="row">
      <h2><%= @bda.name %></h2>

      <p class="lead"><%= @bda.description %></p>
    </div>


    <div class="row">
      <p>
        <strong>Produkt Nummern:</strong>
        <%= @bda.product_nr_prefix %>
      </p>
    </div>


    <% if @bda.attached_assets.size > 0 %>
    <div class="row">
      <h1 id="forms" class="page-header">Dateien</h1>

      <ul>
      <%= render partial: 'attached_assets/asset', collection: @bda.attached_assets %>
      </ul>
    </div>
    <% end %>

    <% if @current_user && @current_user.admin? %>
      <%= form_for @bda, id: 'fileupload', html: { multipart: true } do |f| %>
        <%= f.label :asset, "Dateianhänge" %>
        <%= f.file_field :attached_assets, multiple: true, name: "bda[attached_assets_attributes][][asset]" %>
        <%= f.submit 'speichern', class: 'btn' %>
      <% end %>
    <% end %>

    <div class="bs-docs-section">
      <% unless @bda.products.nil? %>
        <h3>Produkte für diese Anleitung</h3>
        <ul>
          <% @bda.products.each do |product| %>
            <li><%= link_to product.short_description, product %></li>
          <% end %>
        </ul>
      <% end %>

    </div>


    <%= link_to icon('backward') + ' zurück', bdas_path, class: "btn btn-large btn-default" %>


    <div class="row">
      <% if current_user && current_user.admin? %>
        <p class="text-right">
        <%= render "button_bda_edit" %>
        </p>
      <% end %>
    </div>

  </div>
</div>



