<div class="breadcrumb" data-no-turbolink>
  <%= link_to "https://gaswarnanlagen.com", root_path %>&nbsp;>&nbsp;
  <%= link_to "BDA's", bdas_path %>&nbsp;>&nbsp;
  <%= @bda.name %>
</div>

<% provide(:title, @bda.name) %>

<div class="row">
  <div class="col-md-12">

    <div class="row">
      <% if current_user && current_user.admin? %>
        <p class="text-right">
        <%= render "button_bda_edit" %>
        </p>
      <% end %>
    </div>


    <div class="row">
      <h2><%= @bda.name %></h2>

      <p class="lead"><%= @bda.description %></p>
    </div>


    <div class="row">
      <p>
        <strong>Produkt Nummern:</strong>
        <%= @bda.product_nr_prefix %>
      </p>
    </div>


    <% if @bda.attached_assets.size > 0 %>
    <div class="row">
      <h1 id="forms" class="page-header">Dateien</h1>

      <ul>
      <%= render partial: 'attached_assets/asset', collection: @bda.attached_assets %>
      </ul>
    </div>
    <% end %>

    <% if @current_user && @current_user.admin? %>
      <%= form_for @bda, id: 'fileupload', html: { multipart: true } do |f| %>
        <%= f.label :asset, "Dateianhänge" %>
        <%= f.file_field :attached_assets, multiple: true, name: "bda[attached_assets_attributes][][asset]" %>
        <%= f.submit 'speichern', class: 'btn' %>
      <% end %>
    <% end %>

    <div class="bs-docs-section">
      <% unless @bda.products.nil? %>
        <h3>Produkte für diese Anleitung</h3>
        <!-- Products -->
        <% if @bda.products.present? %>
        <div class="row">
          <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-hover">
            <tr>
              <th><%= Product.human_attribute_name :product_nr %></th>
              <th><%= Product.human_attribute_name :short_description %></th>
              <th>Bild</th>
              <th><%= Product.human_attribute_name :description %></th>
              <th title="Ausschreibungstext">AST</th>
              <th title="Technisches Daten Blatt">TDB</th>
              <th title="Betriebsanleitung">BDA</th>
              <th></th>
          </tr>
          <%= render @products %>
          </table>
        </div>
        <div class="row">
          <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
        </div>
        <% end %>
      <% end %>

    </div>


    <%= link_to icon('fas', 'backward') + ' zurück', bdas_path, class: "btn btn-large btn-default" %>


    <div class="row">
      <% if current_user && current_user.admin? %>
        <p class="text-right">
        <%= render "button_bda_edit" %>
        </p>
      <% end %>
    </div>

  </div>
</div>
