  <li>
  <%= link_to( category.name, category_path(category) ) %>
  <%#= image_tag category.logo.url, :width => '100px' %>
  <%= simple_format category.description %>
  <% if current_user && current_user.admin? %>
    <span>
      <%= link_to 'bearbeiten', edit_category_path(category) %> | 
      <%= link_to 'löschen', category, method: :delete, data: { confirm: "Bist du sicher?" } %>
    </span>
  <% end %>

  <% unless category.children.empty? %>
  <ul>
    <%= render category.children %>
  </ul>
  <% end %>
</li>

