<li>
<% unless category.children.empty? %><span><i class="fa fa-minus"></i></span> <% else %><span><i class="fa fa-leaf"></i></span> <% end %>
<%= link_to( content_tag(:strong, category.name, class: 'h3' ), category_path(category) ) %>
  <%#= image_tag category.logo.url, :width => '100px' %>
  <%= simple_format category.description %>
  <% if current_user && current_user.admin? %>
    <span>
      <%= link_to 'bearbeiten', edit_category_path(category) %> | 
      <%= link_to 'löschen', category, method: :delete, data: { confirm: "Bist du sicher?" } %>
    </span>
  <% end %>

  <% unless category.children.empty? %>
  <ul>
    <%= render category.children %>
  </ul>
  <% end %>
  </li>

