<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5, class: "form-control" %>
</div>

<div class="form-group">
    <%= f.label :product_nr_prefix %>
    <%= f.text_field :product_nr_prefix, class: "form-control" %>
</div>

<div class="form-group">
    <%= f.label :background_color %>
    <%= f.text_field :background_color, class: "form-control", type: 'color' %>
</div>

<div class="form-group">
    <%= f.label :logo %>
    <%= f.file_field :logo %>
</div>


<div class="form-group">
  <%= f.label :pictures %>
      <%= file_field_tag('category_attached_assets_asset', multiple: true, name: "category[attached_assets_attributes][][asset]") %>
</div>


<div class="form-group">
    <%= f.label  "Unterkategorie von" %>
    <% categories_array = Category.all.map{ |category| [category.name + "/" + truncate(category.description, :length => 30), category.id, category.children.empty? ? "" : {class: 'bold'}] } %>
    <%= collection_select(:category, :parent_id, Category.all, :id, :name, include_blank: "---" ) %>
</div>




