<%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :published, value: true %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, rows: 5, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :product_nr_prefix %>
  <%= f.text_field :product_nr_prefix, class: "form-control" %>
  <span class="help-block">Produkte die in dieser Kategorie gelistet werden sollen.<br />
    <strong>Die Reihenfolge in der die Nummern erfasst werden, spiegelt dann
      auch die Reihenfolge ihrer Darstellung wieder.</strong>
    Das heißt werden zum Beispiel die Nummern "300,112,100-120000" erfasst,
    dann werden die Produkte deren Nummern mit 112 anfangen, vor den
    Produkten mit 100-120000 bezeichnet sind, angezeigt. Ganz vorn stehen die
  Produkte mit den Produknummern 300-xxx.. .</span>
</div>

<div class="form-group">
  <%= f.label :background_color %>
  <%= f.color_field :background_color, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :logo %><br />
  <%- unless @category.new_record? || !@category.logo? -%>
    <%= image_tag @category.logo, size: "55" %>&nbsp;<%= f.check_box :logo_delete %>&nbsp;Bild l&ouml;schen?
  <%- end -%>
  <%= f.file_field :logo %>
</div>


<div class="form-group">
  <%= f.label :pictures %>

  <%# If there are pictures list them all and add a checkbox beside to delete them %>
  <div>
    <% @category.attached_assets.each do |asset| %>
      <%= f.fields_for :attached_assets, asset do |builder| %>
      <% unless @category.new_record? %>
        <%= builder.label :_destroy, asset.asset_file_name %>&nbsp;
        <%= builder.check_box '_destroy' %>&nbsp;Bild l&ouml;schen?
      <% end %>
    <% end %>
  <% end %>

  <% if @category.new_record? || @category.attached_assets.size == 0 %>
    <%= f.file_field :attached_assets, multiple: true, name: "category[attached_assets_attributes][][asset]" %>
  <% else %>
    <%= f.file_field :attached_assets, name: "category[attached_assets_attributes][#{@category.attached_assets.size}][asset]" %>
  <% end %>

    <%#= file_field_tag('category_attached_assets_asset', multiple: true, name: "category[attached_assets_attributes][][asset]") %>
  </div>
</div>


<div class="form-group">
  <%= f.label  "Unterkategorie von" %>
  <%= select(:category, :parent_id, categories_for_select, include_blank: "---") %>
</div>




