<% provide(:title, @category.name) %>

<div class="breadcrub" data-no-turbolink>
  <%= link_to "http://gaswarnanlagen.com", root_path %> > <%= link_to( @category.parent.name, @category.parent ) + " > " if @category.parent %><%= @category.name %>
  </div>

<div class="row">
  <% if current_user && current_user.admin? %>
    <p class="text-right">
  <%= link_to 'Kategorie barbeiten', edit_category_path(@category), class: "btn btn-large btn-primary" %>
  </p>
  <% end %>
</div>


<% if @category.attached_assets && @category.attached_assets.size == 1 %>
  <%= image_tag @category.attached_assets.first.asset_file_name if @category.attached_assets.first.asset_content_type.match( /\Aimage\/.*\Z/ ) %>
<% end %>

<% if @category.attached_assets && @category.attached_assets.size > 1 %>
<div class="row">
  <% @category.attached_assets.each_with_index do |asset, index| %>
    <div class="col-md-3" style="padding-bottom: 1em">
      <%= link_to image_tag( asset.asset.url(:medium) ), asset.asset.url  %>
    </div>
    <div class="col-md-1"></div>
    <% if ( index+1 ) % 3 == 0 %></div><div class="row"><% end %>
  <% end %>
</div>
<% end %>



<!-- Categories -->
<% unless @category.children.empty? %>
<div class="my-container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
      <% @category.children.order(:id).each do |child| %>
        <div class="col-md-3">
          <div class="my-inner box_category_small" style="background-color: <%= child.background_color %>">
            <a href="<%= category_path(child) %>"><h1><%= child.name %><i class="pull-right fa fa-chevron-down"></i></h1></a>
            <a href="<%= category_path(child) %>"><p class="logo"><%= image_tag child.logo.url %></p></a>
            <p class="description"><%= child.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>




<%= render 'products/products_list', object: @products %>

