<% provide(:title, @category.name) %>

<div class="breadcrumb" data-no-turbolink>
  <%= link_to "http://gaswarnanlagen.com", root_path %> > <%= link_to(@category.parent.name, @category.parent) + " > " if @category.parent %><%= @category.name %>
</div>

<div class="row">
  <% if current_user && current_user.admin? %>
  <p class="text-right">
    <span><%= link_to 'Kategorie barbeiten', edit_category_path(@category), class: "btn btn-large btn-primary" %></span>
    <span><%= link_to 'neue Kategorie anlegen', new_category_path(), class: "btn btn-large btn-primary" %></span>
  </p>
  <p class="text-right">
    <%= link_to 'Übersicht Kategorien', categories_path() %>
  </p>
  <% end %>
</div>


<% if false %>
  Bilder der Kategorien

  Diese Bilder werden überhalb der Boxen und der Produkt Liste angezeigt.
<% end %>
<%-# Existiert nur ein Bild dann wird dieses über die gesammte Breite dargestellt -%>
<% if @category.attached_assets && @category.attached_assets.size == 1 %>
  <div class="row" style="text-align:center">
    <%= image_tag @category.attached_assets.first.asset.url %>
  </div>
<% end %>
<%-# Existieren mehrer Bilder dann werden immer 3 nebeneinander dargestellt -%>
<% if @category.attached_assets && @category.attached_assets.size > 1 %>
<div class="row">
  <% @category.attached_assets.each_with_index do |asset, index| %>
    <div class="col-md-3" style="padding-bottom: 1em">
      <%= link_to image_tag(asset.asset.url(:medium)), asset.asset.url  %>
    </div>
    <div class="col-md-1"></div>
    <%-# FIXME: Das kann glaube ich wen. Der Umbruch wird, ähnlich wie im nächsten Block automatisch geschehen -%>
    <%-# Zeilenumbruch wenn das 3. Bild angezeigt wurde -%>
    <% if (index+1) % 3 == 0 %></div><div class="row"><% end %>
  <% end %>
</div>
<% end %>


<%-# Boxen mit den Kategorien -%>
<% unless @category.children.empty? %>
<div class="my-container">
  <div class="row">
    <div class="col-md-12">
      <div class="row"><!-- Category boxes -->
        <%= render partial: "categories/category_box", collection: @category.children, as: :category, locals: {size: 3} %>
      </div><!-- End row -->
    </div>
  </div>
</div>
<% end %>

<%-# Liste der Produkte -%>
<%= render 'products/products_list', object: @products %>
