<tr>
  <td><%= link_to (highlight_it product.product_nr, params[:search]), product %></td>
  <td><%= highlight_it product.short_description, params[:search] %></td>
  <td><%= image_tag product.logo.url(:small) %></td>
  <td><%= truncate((highlight_it product.description, params[:search]), :length => 60) %></td>
  <td>
    <% if product.has_ast? %>
      <%= link_to(icon('file-text', '', class: 'fa-2x', title: "TXT Format"), ast_product_path(product, format: 'txt')) %>
    <% end %>
  </td>
  <td>
    <% if @product.tdb.present? %>
      <%= link_to(icon('file-pdf-o', '', class: 'fa-4x', title: "Technisches Datenblatt", style: "color: darkred;"), @product.tdb.url(:pdf)) %>
    <% end %>
  </td>
  <td>
    <% product.bdas.each do |bda| %>
      <% bda.attached_assets.each do |asset| %>
        <%= link_to(icon('file-text', '', class: 'fa-2x', title: "Betriebsanleitung"), asset.asset.url ) %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if current_user && current_user.admin? %>
      <%= link_to icon('eye') + " anzeigen", product %><br />
      <%= link_to icon('trash-o') + " löschen", product, method: :delete, data: { confirm: "Bist du sicher?"} %><br />
      <%= link_to icon('edit') + " bearbeiten", edit_product_path(product) %>
    <% end %>
  </td>
</tr>

