<!-- Products -->
<% if @products.present? %>
<div class="row">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
<div class="table-responsive">
  <table class="table table-hover table-hover">
    <tr>
      <th><%= Product.human_attribute_name :product_nr %></th>
      <th><%= Product.human_attribute_name :short_description %></th>
      <th>Bild</th>
      <th><%= Product.human_attribute_name :description %></th>
      <th title="Ausschreibungstext">AST</th>
      <th title="Technisches Daten Blatt">TDB</th>
      <th title="Betriebsanleitung">BDA</th>
      <th></th>
  </tr>
    <%= render @products %>
  </table>
</div>
<div class="row">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
<% end %>
