<div>
<b>POS.</b>
</div>

<div>
<p><b>Ausschreibungstext für:</b> <%= @product.product_nr %></p>
<p>Art. Nr.:<%= @product.product_nr %></p>
</div>

<div>
<p><%= @product.short_text1 %></p>
<p><%= @product.short_text2 %></p>
</div>

<div>
<p><b>Technische Daten:</b></p>
<p><%= @product.technical_data %></p>
</div>

<div>
Hersteller-Typ des Planers: RA-GAS GmbH<br />
Telefon:  07151 – 930 440<br />
Email:  info@gaswarnanlagen.com<br />
</div>

