<% provide(:title, 'Produkte') %>
<h2>Produkte</h2>

<div class="row">
  <% if current_user && current_user.admin? %>
    <p class="text-right">
      <%= link_to "Produkte importieren", new_product_import_path, class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
</div>


<% if current_user && current_user.admin? %>
<div class="row">
  <p>
  Download:
  <%= link_to "CSV", products_path(format: "csv") %> | 
  <%= link_to "Excel", products_path(format: "xls") %>
  </p>
</div>
  <% end %>


<%= render 'products/products_list', object: @products %>


<div class="row">
  <% if current_user && current_user.admin? %>
    <p class="text-right">
      <%= link_to "Produkte importieren", new_product_import_path, class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
</div>
