<% provide(:title, 'Produkte') %>
<h1>Produkte</h1>

<div class="row">
  <% if current_user && current_user.admin? %>
    <p class="text-right">
  <%= link_to "Produkte importieren", new_product_import_path, class: "btn btn-large btn-primary" %>
  </p>
  <% end %>
</div>

    <% if false # Deaktiviert weil nicht gebraucht %>
    <p>
    Download:
    <%= link_to "CSV", products_path(format: "csv") %> | 
    <%= link_to "Excel", products_path(format: "xls") %>
    </p>
    <% end %>

<div class="row">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-hover table-hover">
      <tr>
        <th>Art. Nr.</th>
        <th>Kurztext</th>
        <th>Bezeichnung</th>
        <th></th>
      </tr>
      <% for product in  @products do %>
      <tr>
        <td><%= product.product_nr %></td>
        <td><%= product.short_description %></td>
        <td><%= product.description %></td>
        <td><%= link_to "löschen", product, method: :delete, data: { confirm: "Bist du sicher?"} %></td>
      </tr>
      <%end %>
    </table>
  </div>
</div>
<div class="row">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>

<div class="row">
  <% if current_user && current_user.admin? %>
    <%= link_to "Produkte importieren", new_product_import_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
