<% provide(:title, 'Produkte') %>
<h1>Produkte</h1>

<p>
  Download:
  <%= link_to "CSV", products_path(format: "csv") %> | 
  <%= link_to "Excel", products_path(format: "xls") %>
</p>

<div class="table-responsive">
  <table class="table table-hover table-hover">
    <tr>
      <th>Art. Nr.</th>
      <th>Bezeichnung</th>
      <th>Kurztext</th>
      <th></th>
    </tr>
  </div>
  <% for product in  @products do %>
    <tr>
    <td><%= product.product_nr %></td>
    <td><%= product.description %></td>
    <td><%= product.short_description %></td>
    <td><%= link_to "löschen", product, method: :delete, data: { confirm: "Bist du sicher?"} %></td>
  </tr>
  <%end %>
  </table>
</div>

<p><%= link_to "Produkte importieren", new_product_import_path %></p>
