<% provide(:title, @product.product_nr) %>

<div class="breadcrumb" data-no-turbolink>
  <%= link_to "http://gaswarnanlagen.com", root_path %>&nbsp;>&nbsp;
  <!-- TODO: Das muss refactoriert werden. Außerdem muss der Umstand beachtet werden, das ein Produkt in mehreren 
            Kategorien vorhanden sein kann -->
  <%= link_to @product.categories.first.name, @product.categories.first  unless @product.categories.first.nil? %>&nbsp;>&nbsp;
  <%= link_to @product.product_nr, @product  %>
  </div>

<div class="row">
  <% if current_user && current_user.admin? %>
    <p class="text-right">
  <%= link_to 'Produkt barbeiten', edit_product_path(@product), class: "btn btn-large btn-primary" %>
  </p>
  <% end %>
</div>


<div class="row">
  <% unless @product.short_description.blank? %>
    <%= content_tag(:h2, @product.short_description ) %>
  <% end %>

  <p>
    <b>Produkt Nummer:&nbsp;</b><%= @product.product_nr %>
  </p>

  <%= content_tag(:p, simple_format( @product.description )) unless @product.description.blank? %>

  <%= content_tag(:p, simple_format( @product.short_text1 )) unless @product.short_text1.blank? %>

  <%= content_tag(:p, simple_format( @product.short_text2 )) unless @product.short_text2.blank? %>

  <% unless @product.technical_data.blank? %>
    <h4>Technische Daten:</h4>
    <%= content_tag(:p, simple_format( @product.technical_data )) %>
  <% end %>
</div>


<% if @product.has_ast? %>
  <h4>Ausschreibungstext</h4>
  <%= link_to(icon('file-text', '', class: 'fa-4x', title: "TXT Format"), ast_product_path(@product, format: 'txt')) %>
<% end %>

<% if @product.tdb.present? %>
  <h4>Technisches Datenblatt</h4>
  <%= link_to(icon('file-text', '', class: 'fa-4x', title: "TXT Format"), @product.tdb.url) %>
  <%= link_to(icon('file-pdf-o', '', class: 'fa-4x', title: "PDF Format", style: "color: darkred;"), @product.tdb.url(:pdf)) %>
<% end %>


<div class="row">
  <% if current_user && current_user.admin? %>
    <p class="text-right">
  <%= link_to 'Produkt barbeiten', edit_product_path(@product), class: "btn btn-large btn-primary" %>
  </p>
  <% end %>
</div>

