<%= link_to "Home", root_path %>
<%= link_to "Aktuell", news_index_path %>
<%= link_to "Firmenprofil", about_path %>
<%= link_to "Referenzen", references_path %>
<%= link_to "Vertriebspartner", distributors_path %>
<%= link_to "Kontakt", contact_path %>
<% if signed_in? %>
  <% if current_user.admin? %>
    Administration
    <%= link_to "Produkte", products_path %>
    <%= link_to "Produkt Gruppen", product_groups_path %>
  <% end %>
<% end %>
Account
<%= link_to "Profil", user_path(current_user) %>
<%= link_to "Einstellungen", edit_user_path(current_user) %>
<%= link_to "Sign out", signout_path, method: "delete"  %>
<%= link_to "Sign in", signin_path %>

<div id="content" class="bs-docs-header">
  <div class="container">
    <div class="row"><%= link_to '', root_path %>
      <div class="span12">
        <!-- TODO: Logo for text based browser -->
      </div>
    </div>
  </div>
</div>

<%= yield :jumbotron %>
