<%= nav_bar :fixed => :top, :brand => "RA-GAS GmbH", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_divider %>
        <%= menu_item "Kontakt", contact_path %>
        <%= menu_item "Hilfe", help_path %>
    <% end %>
    <%= menu_group :pull => :right do %>
      <% if signed_in? %>
        <%= drop_down "Account" do %>
            <%= menu_item "Profil", user_path(current_user) %>
            <%= menu_item "Einstellungen", edit_user_path(current_user) %>
            <%= menu_item "Sign out", signout_path, method: "delete"  %>
        <% end %>
        <% else %>
          <%= menu_item "Sign in", signin_path %>
        <% end %>
    <% end %>
<% end %>
<div id="content" class="bs-docs-header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <!-- TODO: Logo for text based browser -->
      </div>
    </div>
  </div>
</div>
