<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "RA-GAS GmbH", root_path, class: "navbar-brand hidden-xs text-hide brand", data: { no_turbolink: true }, title: "Home > RA-GAS GmbH Rauch und Gas Warnanlagen"  %>
      <%= link_to "RA-GAS", root_path, class: "navbar-brand visible-xs text-hide brand-xs", data: { no_turbolink: true }, title: "Home > RA-GAS GmbH Rauch und Gas Warnanlagen"  %>

      <div class="col-xs-8">
      <%= form_tag products_path, style: "border: 0; padding: 0 1em", method: :get, class: "navbar-form pull-left", role: "search" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Suche" %>
          <div class="input-group-btn">
            <%= submit_tag "Suche", :name => nil, class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Aktuell", news_index_path %></li>
        <li><%= link_to "Firma", about_path %></li>
        <li><%= link_to "Referenzen", references_path %></li>
        <li><%= link_to "Vertrieb", distributors_path %></li>
        <li><%= link_to "Kontakt", contact_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mehr <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Aktuell", news_index_path %></li>
            <li><%= link_to "Produkte", products_path %></li>
            <li><%= link_to "Produkt-Kategorien", categories_path, data: { no_turbolink: true } %></li>
            <% if signed_in? %>
            <li><%= link_to "BDA's", bdas_path, data: { no_turbolink: true } %></li>
            <li><%= link_to "Profil", user_path(current_user) %></li>
            <li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete"  %></li>
            <% else %>
            <li><%= link_to "Login", signin_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<%= yield :jumbotron %>
