<!DOCTYPE html>
<html>
<head>
<title><%= full_title( yield(:title) ) %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "//cdn.leafletjs.com/leaflet-0.7.2/leaflet.js", "data-turbolinks-track" => true  %>
<%= stylesheet_link_tag    "//cdn.leafletjs.com/leaflet-0.7.2/leaflet.css", media: "all", "data-turbolinks-track" => true  %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container" role="main">

    <%= render partial: "shared/flash_messages", flash: flash %> 

    <%= yield %>

    <%= render 'layouts/footer' %>
  </div>



  <!-- Piwik Image Tracker-->
  <img src="http://piwik.gaswarnanlagen.com/piwik.php?idSite=2&rec=1" style="border:0" alt="" />
  <!-- End Piwik -->
</body>
</html>
